<div class="card card_small">
    <img class="card__icon" src="./img/icon_sun_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Выключить весь свет в доме и во дворе</em>
    </div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_scheduled@2x.png">
    <div class="card__review">
        <em class="card__heading">Я ухожу</em>
    </div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Включить свет в коридоре</em>
    </div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_temperature_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Набрать горячую ванну</em> <span class="card__text">
                Начнется в 18:00
        </span></div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_temperature_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Сделать пол тёплым во всей квартире</em>
    </div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_scheduled@2x.png">
    <div class="card__review">
        <em class="card__heading">Я ухожу</em>
    </div>
</div>

<div class="card card_small">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Включить свет в коридоре</em>
    </div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_temperature_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Набрать горячую ванну</em> <span class="card__text">
                    Начнется в 18:00
            </span></div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_temperature_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Сделать пол тёплым во всей квартире</em>
    </div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Включить свет в коридоре</em>
    </div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_temperature_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Набрать горячую ванну</em> <span class="card__text">
                        Начнется в 18:00
                </span></div>
</div>
<div class="card card_small">
    <img class="card__icon" src="./img/icon_temperature_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Сделать пол тёплым во всей квартире</em>
    </div>
</div>