<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall modal-trigger" data-modal="lamp-modal">
    <img class="card__icon" src="./img/icon_sun_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Xiaomi Yeelight LED Smart Bulb</em> <span class="card__text">
                     Включится в 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_camera">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">D-Link Omna 180 Cam</em> <span class="card__text">
                     Включится в 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_kitchen modal-trigger" data-modal="temperature-modal">
    <img class="card__icon" src="./img/icon_temperature@2x.png">
    <div class="card__review">
        <em class="card__heading">Elgato Eve Degree Connected</em> <span class="card__text">
                    Выключено до 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_lamp">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">LIFIX Mini Day & Dusk A60 E27</em> <span class="card__text">
                     Включится в 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_kitchen modal-trigger" data-modal="round-modal">
    <img class="card__icon" src="./img/icon_sun_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Xiaomi Warm Floor</em> <span class="card__text">
                     Включено
            </span></div>
</div>
<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_lamp">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Philips Zhirui</em> <span class="card__text">
                     Выключено
            </span></div>
</div>
<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall">
    <img class="card__icon" src="./img/icon_sun_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Philips Cooler</em> <span class="card__text">
                     Включено
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_camera">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">D-Link Omna 180 Cam</em> <span class="card__text">
                     Включится в 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_kitchen">
    <img class="card__icon" src="./img/icon_temperature@2x.png">
    <div class="card__review">
        <em class="card__heading">Elgato Eve Degree Connected</em> <span class="card__text">
                     Выключено до 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_lamp">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">LIFIX Mini Day & Dusk A60 E27</em> <span class="card__text">
                     Включится в 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_kitchen">
    <img class="card__icon" src="./img/icon_sun_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Xiaomi Mi Air Purifier 2S</em> <span class="card__text">
                     Включено
            </span></div>
</div>
<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_lamp">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Philips Zhirui</em> <span class="card__text">
                     Выключено
            </span></div>
</div>
<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall">
    <img class="card__icon" src="./img/icon_sun_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Philips Cooler</em> <span class="card__text">
                     Включено
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_camera">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">D-Link Omna 180 Cam</em> <span class="card__text">
                     Включится в 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_kitchen">
    <img class="card__icon" src="./img/icon_temperature@2x.png">
    <div class="card__review">
        <em class="card__heading">Elgato Eve Degree Connected</em> <span class="card__text">
                     Выключено до 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_lamp">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">LIFIX Mini Day & Dusk A60 E27</em> <span class="card__text">
                     Включится в 17:00
            </span></div>
</div>

<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_kitchen">
    <img class="card__icon" src="./img/icon_sun_2@2x.png">
    <div class="card__review">
        <em class="card__heading">Xiaomi Mi Air Purifier 2S</em> <span class="card__text">
                     Включено
            </span></div>
</div>
<div class="card card_horisontal-scroll card_horisontal-filter card_horisontal-filter-show card_hall card_lamp">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Philips Zhirui</em> <span class="card__text">
                     Выключено
            </span></div>
</div>