<div class="card card_main-data">
    <img class="card__icon" src="./img/icon_temperature@2x.png">
    <div class="card__review">
        <em class="card__heading">Philips Cooler</em> <span class="card__text">
                 Начнет охлаждать в 16:30
        </span></div>
</div>

<div class="card card_main-data ">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Xiaomi Yeelight LED Smart Bulb</em> <span class="card__text">
                 Включится в 17:00
        </span></div>
</div>

<div class="card card_main-data">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Xiaomi Yeelight LED Smart Bulb</em> <span class="card__text">
                 Включится в 17:00
        </span></div>
</div>

<div class="card card_main-data">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Xiaomi Yeelight LED Smart Bulb</em> <span class="card__text">
                 Включится в 17:00
        </span></div>
</div>

<div class="card card_main-data">
    <img class="card__icon" src="./img/icon_sun@2x.png">
    <div class="card__review">
        <em class="card__heading">Xiaomi Yeelight LED Smart Bulb</em> <span class="card__text">
                 Включится в 17:00
        </span></div>