<div class="modal-wrap lamp-modal">

    <div class="modal-window">
        <div class="modal-window__content modal-window__content_slider">
            <div class="modal__icon">
                <img class="" src="../img/icon_sun@2x.png">
            </div>

            <h2 class="modal-window__heading">Xiaomi Yeelight LED Smart Bulb</h2>
            <em class="modal-window__review">Включится в 17:00</em>
            <div class="select-filter modal-filter">

                <button class="modal-filter__item select-filter__item select-filter__item_active" group="yl">Вручную</button>
                <button class="modal-filter__item select-filter__item" group="yl"> Дневной свет</button>
                <button class="modal-filter__item select-filter__item" group="yl"> Вечерний свет</button>
                <button class="modal-filter__item select-filter__item" group="yl"> Рассвет</button>

            </div>


            <input class="select-range select-range_lamp" type="range" />
            <div style="clear:both"></div>
        </div>
        <div class="modal-controls">
            <button class="modal-controls__button_apply modal-controls__button" onclick="closeModal()">Применить</button>
            <button class="modal-controls__button" onclick="closeModal()">Закрыть</button>
        </div>



    </div>


</div>