<div class="modal-wrap round-modal">

    <div class="modal-window">
        <div class="modal-window__content modal-window__content_slider">
            <div class="modal__icon">
                <span class="modal__icon_text"> 
                        +23
                    </span>
                <img class="" src="./img/icon_temperature_2@2x.png">
            </div>
            <h2 class="modal-window__heading">Xiaomi Warm Floor</h2>
            <em class="modal-window__review">Включено</em>
            <div class="knob">
                <svg class="knob-bg" width="186px" height="186px" viewBox="0 0 186 186" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                        <title>background</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <circle id="path-1" cx="111" cy="111" r="89"></circle>
                            <filter x="-3.9%" y="-2.8%" width="107.9%" height="107.9%" filterUnits="objectBoundingBox" id="filter-2">
                                <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0.524208121   0 0 0 0 0.475951723   0 0 0 0 0.279116418  0 0 0 0.446388134 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                        </defs>
                        <g id="Final" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="v1-1-4-mobile-floor" transform="translate(-95.000000, -250.000000)">
                                <g id="Group" transform="translate(0.000000, -44.000000)">
                                    <g id="Group-5" transform="translate(20.000000, 111.000000)">
                                        <g id="Group-4">
                                            <g id="round" transform="translate(57.000000, 163.000000)">
                                                <g id="Screen">
                                                    <g id="background">
                                                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                                        <use fill="#FEFEFE" fill-rule="evenodd" xlink:href="#path-1"></use>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                <div class="knob__control">
                </div>

                <svg class="ticks" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 221 221" style="enable-background:new 0 0 221 221;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#F5A623;}
                    </style>
                    <title>Oval@2x</title>
                    <desc>Created with Sketch.</desc>
                    <path class="tick active" d="M66.8,184.6l-12.3,20.6c0.3,0.2,0.6,0.3,0.9,0.5L67.4,185L66.8,184.6z"></path>
                    <path class="tick active" d="M63.5,182.5l-13.2,20c0.3,0.2,0.6,0.4,0.8,0.5l13.1-20.1L63.5,182.5z"></path>
                    <path class="tick active" d="M60.2,180.3l-14.1,19.4c0.3,0.2,0.5,0.4,0.8,0.6l13.9-19.5L60.2,180.3z"></path>
                    <path class="tick active" d="M57.1,177.9l-15,18.7c0.3,0.2,0.5,0.4,0.8,0.6l14.8-18.9L57.1,177.9z"></path>
                    <path class="tick active" d="M54.2,175.4l-15.8,18c0.3,0.2,0.5,0.4,0.8,0.7l15.7-18.2L54.2,175.4z"></path>
                    <path class="tick active" d="M51.2,172.7l-16.6,17.3c0.2,0.2,0.5,0.5,0.7,0.7l16.5-17.5L51.2,172.7z"></path>
                    <path class="tick active" d="M48.5,170l-17.4,16.6c0.2,0.2,0.5,0.5,0.7,0.7L49,170.5L48.5,170z"></path>
                    <path class="tick active" d="M45.8,167.1l-18.1,15.8c0.2,0.3,0.4,0.5,0.7,0.7l18-15.9L45.8,167.1z"></path>
                    <path class="tick active" d="M43.3,164.1L24.5,179c0.2,0.3,0.4,0.5,0.6,0.8l18.7-15.1L43.3,164.1z"></path>
                    <path class="tick active" d="M41,160.9L21.5,175c0.2,0.3,0.4,0.5,0.6,0.8l19.3-14.3L41,160.9z"></path>
                    <path class="tick active" d="M38.7,157.7l-20.1,13.2c0.2,0.3,0.4,0.6,0.6,0.8l19.9-13.4L38.7,157.7z"></path>
                    <path class="tick active" d="M36.7,154.4L16,166.7c0.2,0.3,0.3,0.6,0.5,0.9L37.1,155L36.7,154.4z"></path>
                    <path class="tick active" d="M34.7,151l-21.2,11.3c0.2,0.3,0.3,0.6,0.5,0.9l21.1-11.5L34.7,151z"></path>
                    <path class="tick active" d="M33,147.5l-21.7,10.3c0.1,0.3,0.3,0.6,0.4,0.9l21.6-10.5L33,147.5z"></path>
                    <path class="tick active" d="M31.4,143.9l-22.1,9.3c0.1,0.3,0.3,0.6,0.4,0.9l22-9.5L31.4,143.9z"></path>
                    <path class="tick active" d="M29.9,140.3l-22.5,8.3c0.1,0.3,0.2,0.6,0.4,0.9l22.4-8.5L29.9,140.3z"></path>
                    <path class="tick active" d="M28.6,136.6l-22.9,7.3c0.1,0.3,0.2,0.6,0.3,1l22.8-7.5L28.6,136.6z"></path>
                    <path class="tick active" d="M27.5,132.8l-23.2,6.2c0.1,0.3,0.2,0.6,0.3,1l23.1-6.5L27.5,132.8z"></path>
                    <path class="tick active" d="M26.6,129l-23.4,5.2c0.1,0.3,0.1,0.7,0.2,1l23.4-5.4L26.6,129z"></path>
                    <path class="tick active" d="M25.9,125.2l-23.6,4.1c0.1,0.3,0.1,0.7,0.2,1L26,126L25.9,125.2z"></path>
                    <path class="tick active" d="M25.3,121.3l-23.8,3c0,0.3,0.1,0.7,0.1,1l23.8-3.3L25.3,121.3z"></path>
                    <path class="tick active" d="M24.9,117.4l-23.9,2c0,0.3,0.1,0.7,0.1,1l23.9-2.1L24.9,117.4z"></path>
                    <path class="tick active" d="M24.6,113.5l-24,0.9c0,0.3,0,0.7,0,1l24-1.1L24.6,113.5z"></path>
                    <path class="tick active" d="M24.6,109.6l-24-0.2c0,0.3,0,0.6,0,0.9c0,0,0,0.1,0,0.1h24L24.6,109.6z"></path>
                    <path class="tick active" d="M24.7,105.7l-24-1.3c0,0.3,0,0.7,0,1l24,1L24.7,105.7z"></path>
                    <path class="tick active" d="M25,101.7L1.1,99.4c0,0.3-0.1,0.7-0.1,1l23.9,2.1L25,101.7z"></path>
                    <path class="tick active" d="M25.5,97.9L1.7,94.5c0,0.3-0.1,0.7-0.1,1l23.8,3.2L25.5,97.9z"></path>
                    <path class="tick active" d="M26.1,94L2.5,89.5c-0.1,0.3-0.1,0.7-0.2,1L26,94.8L26.1,94z"></path>
                    <path class="tick active" d="M26.9,90.2L3.6,84.6c-0.1,0.3-0.2,0.6-0.2,1l23.4,5.3L26.9,90.2z"></path>
                    <path class="tick active" d="M27.9,86.4L4.8,79.8c-0.1,0.3-0.2,0.6-0.3,1l23.1,6.4L27.9,86.4z"></path>
                    <path class="tick active" d="M29.1,82.7L6.3,75c-0.1,0.3-0.2,0.6-0.3,1l22.8,7.4L29.1,82.7z"></path>
                    <path class="tick active" d="M30.4,79L8,70.3c-0.1,0.3-0.2,0.6-0.4,0.9l22.4,8.5L30.4,79z"></path>
                    <path class="tick active" d="M31.9,75.4l-22-9.7c-0.1,0.3-0.3,0.6-0.4,0.9l22,9.5L31.9,75.4z"></path>
                    <path class="tick active" d="M33.5,71.9L12,61.2c-0.1,0.3-0.3,0.6-0.4,0.9l21.6,10.5L33.5,71.9z"></path>
                    <path class="tick active" d="M35.4,68.4l-21-11.6c-0.2,0.3-0.3,0.6-0.5,0.9L35,69.1L35.4,68.4z"></path>
                    <path class="tick active" d="M37.3,65.1L16.9,52.5c-0.2,0.3-0.3,0.6-0.5,0.9l20.6,12.4L37.3,65.1z"></path>
                    <path class="tick active" d="M39.4,61.8L19.6,48.3c-0.2,0.3-0.4,0.6-0.6,0.8l20,13.3L39.4,61.8z"></path>
                    <path class="tick active" d="M41.7,58.6L22.5,44.2c-0.2,0.3-0.4,0.5-0.6,0.8l19.4,14.2L41.7,58.6z"></path>
                    <path class="tick active" d="M44.1,55.5L25.6,40.3c-0.2,0.3-0.4,0.5-0.6,0.8l18.7,15L44.1,55.5z"></path>
                    <path class="tick active" d="M46.7,52.5l-17.9-16c-0.2,0.2-0.4,0.5-0.7,0.7l18,15.9L46.7,52.5z"></path>
                    <path class="tick active" d="M49.4,49.7L32.2,32.9c-0.2,0.2-0.5,0.5-0.7,0.7l17.3,16.6L49.4,49.7z"></path>
                    <path class="tick active" d="M52.2,46.9L35.8,29.4c-0.2,0.2-0.5,0.5-0.7,0.7l16.5,17.4L52.2,46.9z"></path>
                    <path class="tick active" d="M55.1,44.3L39.6,26.1c-0.3,0.2-0.5,0.4-0.8,0.6l15.7,18.2L55.1,44.3z"></path>                
                    <path class="tick active" d="M58.1,41.9l-14.7-19c-0.3,0.2-0.5,0.4-0.8,0.6l14.9,18.8L58.1,41.9z"></path>
                    <path class="tick active" d="M61.3,39.5L47.5,19.9c-0.3,0.2-0.5,0.4-0.8,0.6l14,19.5L61.3,39.5z"></path>
                    <path class="tick active" d="M64.6,37.3L51.6,17.1c-0.3,0.2-0.6,0.4-0.8,0.5l13.1,20.1L64.6,37.3z"></path>
                    <path class="tick active" d="M67.9,35.3l-12-20.8c-0.3,0.2-0.6,0.3-0.9,0.5l12.2,20.7L67.9,35.3z"></path>
                    <path class="tick active" d="M71.3,33.4l-11-21.3c-0.3,0.2-0.6,0.3-0.9,0.5l11.2,21.2L71.3,33.4z"></path>
                    <path class="tick active" d="M74.8,31.7L64.8,9.9c-0.3,0.1-0.6,0.3-0.9,0.4L74.1,32L74.8,31.7z"></path>
                    <path class="tick active" d="M78.4,30.1L69.4,7.9c-0.3,0.1-0.6,0.3-0.9,0.4l9.2,22.2L78.4,30.1z"></path>
                    <path class="tick active" d="M82.1,28.7l-8-22.6c-0.3,0.1-0.6,0.2-0.9,0.3L81.3,29L82.1,28.7z"></path>
                    <path class="tick active" d="M85.8,27.5l-7-22.9c-0.3,0.1-0.6,0.2-1,0.3l7.2,22.9L85.8,27.5z"></path>
                    <path class="tick active" d="M89.6,26.5L83.6,3.2c-0.3,0.1-0.6,0.2-1,0.3l6.2,23.2L89.6,26.5z"></path>
                    <path class="tick active" d="M93.4,25.6L88.5,2.1c-0.3,0.1-0.7,0.1-1,0.2l5.1,23.4L93.4,25.6z"></path>
                    <path class="tick active" d="M97.2,24.9L93.4,1.2c-0.3,0.1-0.7,0.1-1,0.2l4,23.6L97.2,24.9z"></path>
                    <path class="tick active" d="M101.1,24.3L98.4,0.5c-0.3,0-0.7,0.1-1,0.1l2.9,23.8L101.1,24.3z"></path>
                    <path class="tick active" d="M105,24l-1.6-23.9c-0.3,0-0.7,0-1,0.1l1.9,23.9L105,24z"></path>
                    <path class="tick active" d="M108.9,23.8l-0.6-24c-0.3,0-0.7,0-1,0l0.8,24L108.9,23.8z"></path>
                    <path class="tick active" d="M112.8,23.8l0.5-24c-0.3,0-0.7,0-1,0l-0.2,24L112.8,23.8z"></path>
                    <path class="tick active" d="M116.8,24L118.3,0c-0.3,0-0.7,0-1-0.1l-1.3,24L116.8,24z"></path>
                    <path class="tick active" d="M120.7,24.3l2.6-23.8c-0.3,0-0.7-0.1-1-0.1l-2.4,23.9L120.7,24.3z"></path>
                    <path class="tick active" d="M124.6,24.8l3.7-23.7c-0.3-0.1-0.7-0.1-1-0.1l-3.5,23.7L124.6,24.8z"></path>
                    <path class="tick active" d="M128.4,25.5L133.2,2c-0.3-0.1-0.7-0.1-1-0.2l-4.5,23.6L128.4,25.5z"></path>
                    <path class="tick active" d="M132.2,26.4l5.8-23.3c-0.3-0.1-0.6-0.2-1-0.2l-5.6,23.3L132.2,26.4z"></path>
                    <path class="tick active" d="M136,27.4l6.9-23c-0.3-0.1-0.6-0.2-1-0.3l-6.7,23L136,27.4z"></path>
                    <path class="tick active" d="M139.7,28.6L147.6,6c-0.3-0.1-0.6-0.2-0.9-0.3l-7.7,22.7L139.7,28.6z"></path>
                    <path class="tick active" d="M143.4,30l9-22.3c-0.3-0.1-0.6-0.3-0.9-0.4l-8.7,22.3L143.4,30z"></path>
                    <path class="tick active" d="M146.9,31.5l10-21.8c-0.3-0.1-0.6-0.3-0.9-0.4l-9.8,21.9L146.9,31.5z"></path>
                    <path class="tick active" d="M150.4,33.2l10.9-21.4c-0.3-0.2-0.6-0.3-0.9-0.4l-10.8,21.4L150.4,33.2z"></path>
                    <path class="tick active" d="M153.9,35.1l11.9-20.8c-0.3-0.2-0.6-0.3-0.9-0.5l-11.7,21L153.9,35.1z"></path>
                    <path class="tick active" d="M157.2,37.1L170,16.8c-0.3-0.2-0.6-0.4-0.8-0.5l-12.6,20.4L157.2,37.1z"></path>
                    <path class="tick active" d="M160.4,39.2l13.7-19.7c-0.3-0.2-0.5-0.4-0.8-0.6l-13.5,19.8L160.4,39.2z"></path>
                    <path class="tick active" d="M163.6,41.6l14.6-19c-0.3-0.2-0.5-0.4-0.8-0.6L163,41.1L163.6,41.6z"></path>
                    <path class="tick active" d="M166.7,44l15.4-18.4c-0.3-0.2-0.5-0.4-0.8-0.6l-15.3,18.5L166.7,44z"></path>
                    <path class="tick active" d="M169.6,46.6l16.2-17.7c-0.2-0.2-0.5-0.5-0.7-0.7l-16.1,17.8L169.6,46.6z"></path>
                    <path class="tick active" d="M172.4,49.3l17-16.9c-0.2-0.2-0.5-0.5-0.7-0.7l-16.9,17L172.4,49.3z"></path>
                    <path class="tick active" d="M175.1,52.1L192.9,36c-0.2-0.2-0.5-0.5-0.7-0.7l-17.6,16.2L175.1,52.1z"></path>
                    <path class="tick active" d="M177.7,55.1l18.5-15.3c-0.2-0.3-0.4-0.5-0.6-0.8l-18.3,15.5L177.7,55.1z"></path>
                    <path class="tick active" d="M180.2,58.2l19.1-14.5c-0.2-0.3-0.4-0.5-0.6-0.8l-19,14.7L180.2,58.2z"></path>
                    <path class="tick active" d="M182.5,61.4l19.8-13.6c-0.2-0.3-0.4-0.5-0.6-0.8L182,60.7L182.5,61.4z"></path>
                    <path class="tick active" d="M184.6,64.7L205,52c-0.2-0.3-0.4-0.6-0.5-0.8L184.2,64L184.6,64.7z"></path>
                    <path class="tick active" d="M186.6,68l20.9-11.7c-0.2-0.3-0.3-0.6-0.5-0.9l-20.8,11.9L186.6,68z"></path>
                    <path class="tick active" d="M188.4,71.5l21.4-10.8c-0.2-0.3-0.3-0.6-0.5-0.9l-21.3,11L188.4,71.5z"></path>
                    <path class="tick active" d="M190.1,75l21.9-9.8c-0.1-0.3-0.3-0.6-0.4-0.9l-21.8,10L190.1,75z"></path>
                    <path class="tick active" d="M191.6,78.6l22.3-8.8c-0.1-0.3-0.3-0.6-0.4-0.9l-22.2,9L191.6,78.6z"></path>
                    <path class="tick active" d="M193,82.3l22.7-7.8c-0.1-0.3-0.2-0.6-0.3-0.9l-22.6,7.9L193,82.3z"></path>
                    <path class="tick active" d="M194.1,86l23-6.7c-0.1-0.3-0.2-0.6-0.3-1l-23,6.9L194.1,86z"></path>
                    <path class="tick active" d="M195.1,89.8l23.3-5.6c-0.1-0.3-0.2-0.6-0.2-1L195,89L195.1,89.8z"></path>
                    <path class="tick" d="M196,93.6l23.5-4.6c-0.1-0.3-0.1-0.7-0.2-1l-23.5,4.8L196,93.6z"></path>
                    <path class="tick" d="M196.6,97.5l23.7-3.5c0-0.3-0.1-0.7-0.2-1l-23.7,3.7L196.6,97.5z"></path>
                    <path class="tick" d="M197.1,101.4l23.9-2.5c0-0.3-0.1-0.7-0.1-1l-23.8,2.7L197.1,101.4z"></path>
                    <path class="tick" d="M197.4,105.2l24-1.3c0-0.3,0-0.7-0.1-1l-23.9,1.6L197.4,105.2z"></path>
                    <path class="tick" d="M197.6,109.2l24-0.3c0-0.3,0-0.7,0-1l-24,0.5L197.6,109.2z"></path>
                    <path class="tick" d="M197.6,112.3l0,0.9l24,0.8c0-0.3,0-0.7,0-1L197.6,112.3z"></path>
                    <path class="tick" d="M197.3,117.1l23.9,1.8c0-0.3,0-0.7,0.1-1l-23.9-1.6L197.3,117.1z"></path>
                    <path class="tick" d="M196.9,120.9l23.8,3c0-0.3,0.1-0.7,0.1-1l-23.8-2.7L196.9,120.9z"></path>
                    <path class="tick" d="M196.4,124.8l23.7,4c0.1-0.3,0.1-0.7,0.2-1l-23.7-3.8L196.4,124.8z"></path>
                    <path class="tick" d="M195.6,128.7l23.4,5.1c0.1-0.3,0.1-0.7,0.2-1l-23.5-4.8L195.6,128.7z"></path>
                    <path class="tick" d="M194.7,132.5l23.2,6.1c0.1-0.3,0.2-0.6,0.3-1l-23.3-5.9L194.7,132.5z"></path>
                    <path class="tick" d="M193.6,136.2l22.9,7.2c0.1-0.3,0.2-0.6,0.3-1l-23-7L193.6,136.2z"></path>
                    <path class="tick" d="M192.4,139.9l22.5,8.2c0.1-0.3,0.2-0.6,0.3-0.9l-22.6-8L192.4,139.9z"></path>
                    <path class="tick" d="M191,143.5l22.1,9.3c0.1-0.3,0.3-0.6,0.4-0.9l-22.2-9L191,143.5z"></path>
                    <path class="tick" d="M189.4,147.1l21.7,10.2c0.1-0.3,0.3-0.6,0.4-0.9l-21.8-10L189.4,147.1z"></path>
                    <path class="tick" d="M187.6,150.6l21.2,11.2c0.2-0.3,0.3-0.6,0.5-0.9l-21.3-11L187.6,150.6z"></path>
                    <path class="tick" d="M185.7,154l20.7,12.1c0.2-0.3,0.3-0.6,0.5-0.9l-20.8-12L185.7,154z"></path>
                    <path class="tick" d="M183.7,157.4l20.1,13c0.2-0.3,0.4-0.6,0.5-0.8l-20.3-12.9L183.7,157.4z"></path>
                    <path class="tick" d="M181.5,160.6l19.5,14c0.2-0.3,0.4-0.5,0.6-0.8l-19.6-13.8L181.5,160.6z"></path>
                    <path class="tick" d="M179.1,163.7l18.9,14.8c0.2-0.3,0.4-0.5,0.6-0.8l-19-14.6L179.1,163.7z"></path>
                    <path class="tick" d="M176.7,166.7l18.2,15.7c0.2-0.3,0.4-0.5,0.6-0.8l-18.3-15.5L176.7,166.7z"></path>
                    <path class="tick" d="M174,169.6l17.5,16.5c0.2-0.2,0.5-0.5,0.7-0.7L174.6,169L174,169.6z"></path>
                    <path class="tick" d="M171.3,172.4l16.7,17.2c0.2-0.2,0.5-0.5,0.7-0.7l-16.8-17.1L171.3,172.4z"></path>  
                    <path class="tick" d="M168.4,175l15.9,18c0.2-0.2,0.5-0.4,0.7-0.7l-16.1-17.8L168.4,175z"></path>
                    <path class="tick" d="M165.4,177.6l15.1,18.7c0.3-0.2,0.5-0.4,0.8-0.6L166,177.1L165.4,177.6z"></path>
                    <path class="tick" d="M162.3,180l14.3,19.3c0.3-0.2,0.5-0.4,0.8-0.6l-14.4-19.2L162.3,180z"></path>     
                    <path class="tick" d="M159.1,182.2l13.3,19.9c0.3-0.2,0.6-0.4,0.8-0.6l-13.6-19.8L159.1,182.2z"></path>
                    <path class="tick" d="M155.8,184.3l12.4,20.5c0.3-0.2,0.6-0.4,0.9-0.5L156.4,184L155.8,184.3z"></path>           
                        </svg>
                <span class="knob__value">+23</span>
            </div>


            <div style="clear:both"></div>
        </div>
        <div class="modal-controls">
            <button class="modal-controls__button_apply modal-controls__button" onclick="closeModal()">Применить</button>
            <button class="modal-controls__button" onclick="closeModal()">Закрыть</button>
        </div>



    </div>


</div>