<div class="modal-wrap round-modal">

    <div class="modal-window">
        <div class="modal-window__content modal-window__content_slider">
            <div class="modal__icon">
                <span class="modal__icon_text"> 
                        +23
                    </span>
                <img class="" src="../img/icon_temperature_2@2x.png">
            </div>
            <h2 class="modal-window__heading">Xiaomi Warm Floor</h2>
            <em class="modal-window__review">Включено</em>
            <div class="knob">

                <div class="knob__control"></div>

                <div class="ticks">
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick active"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                    <div class="tick"></div>
                </div>
                <span class="knob__value">+23</span>
            </div>


            <div style="clear:both"></div>
        </div>
        <div class="modal-controls">
            <button class="modal-controls__button_apply modal-controls__button" onclick="closeModal()">Применить</button>
            <button class="modal-controls__button" onclick="closeModal()">Закрыть</button>
        </div>



    </div>


</div>