.card {
    float: left;
    position: relative;
    width: 200px;
    height: 120px;
    margin: 0 15px 15px 0;
    box-sizing: border-box;
    padding: 15px;
    background: #f7f7f7;
    border-radius: 20px;
}

.card_small {
    height: 100px;
}

.card__review {
    position: absolute;
    bottom: 13px;
    padding-right: 15px;
    font-size: 12px;
    color: #858585;
}

.card__heading {
    display: block;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: #333333;
    line-height: 1.2em;
}

.card__text {
    display: block;
    padding: 4px 0px 2px 0px;
}

.card__icon {
    width: 24px;
    margin: -1px 0px 0 -1px;
}

.card_horisontal-scroll {
    display: none;
    float: none;
    white-space: normal;
    margin: 0px 11px 0px 0px;
}

.card_horisontal-filter-show {
    display: inline-block;
}